body {
  align-content: center;
  font-family: helvetica;
  font-weight: 500;
  color: black;
}

h1 {
  font-size: 50px;
}

p {
  font-size: 20px;
}

.header, .footer {
  text-align: center;
}

.container {
    display: flex;
    width: 342px;
    height: 342px;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 25px;
    border-color: #848484;
    /*border: 2px solid blue;*/
}

.box {
    width: 110px;
    height: 110px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 90px;
    border: 2px solid pink;
    border-radius: 15px;
}

.1 {
  background-color: #F5A9F2;
}

.2 {
  background-color: #81F7F3;
}

.box:hover {
    background-color: #BDBDBD;
}
